<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Space Header</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:fragment="header" class="wrapper-header">
    <div class="wing-left"></div>
    <nav class="sc-header">
        <ul class="sc-header-box">
            <li><a th:href="@{/}">Mission Control</a></li>
            <li><a th:href="@{/market/list}">Market</a></li>
            <li sec:authorize="isFullyAuthenticated()"><a th:href="@{/hangar}">Hangar</a></li>
            <li sec:authorize="isAnonymous()" class="pad-to-right"><a th:href="@{/login}">Login</a>/<a
                    th:href="@{/register}">Register</a></li>
            <li sec:authorize="isFullyAuthenticated()" class="pad-to-right">
                Logged in as&nbsp;<span
                    th:text="${#authentication.name}">%username%</span>
                <form class="logout-inline" method="post" th:action="@{/logout}">
                    <button type="submit" class="btn-link">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <div class="wing-right"></div>
</div>
</body>
</html>