<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Starship Homepage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <script th:src="@{/js/moment.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/mission.js}" type="application/javascript"></script>
</head>
<body>
<div class="blur-bg"></div>
<header th:replace="fragments/header :: header">...</header>
<div class="content-bg">
    <div class="blur-bg"></div>
    <div class="content-wrapper">
        <div class="shine big-font-centered">Mission Control</div>
        <div class="mission-control-available-missions-view">
            <div th:each="item : ${missionTypes}" th:attr="data-mission-type-id=${item.id}"
                 class="mission-control-available-missions">
                <img class="mission-logo-small" src="../static/images/mission-icon-1.png" th:src="@{'/images/mission-icon-' + ${item.id} + '.png'}"/><br>
                <div class="two-em-text big-font-centered" th:text="${item.name}"></div><br/>
                <div class="mission-briefing-select-mission"><a th:href="'/mission/start?id=' + ${item.id}">Mission Briefing</a></div>
            </div>
        </div>
        <div class="mission-control-deck-spacer"></div>

        <div  th:if="${not #lists.isEmpty(userMissions)}">
            <div class="shine big-font-centered">Active Missions</div>
            <div class="mission-control-active-mission-container">
                <div th:each="mission : ${userMissions}" th:attr="data-mission-id=${mission.id}, data-mission-end-time=${mission.endTime}" class="mission-control-mission-item">

                    <img class="mission-logo-xs" src="../static/images/mission-icon-1.png" th:src="@{'/images/mission-icon-' + ${mission.type.id} + '.png'}"/><br>
                    <span class="mission-control-mission-name shine big-font-centered" th:text="${mission.type.name}"></span><br/>
                    <span th:text="'Squad: ' + ${mission.assignedSquad.name}"></span><br/>
                    <div>Estimated time: <span class="mission-estimate-timer">...</span></div>
                    <span><a class="mission-show-results-hidden" th:href="'/mission/results?id=' + ${mission.id}" href="#">View Mission Result</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer">...</footer>
</body>
</html>